@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  box-sizing: inherit; }

body {
  font-size: 1.6rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  background-color: #f4f5f7; }

.header__logo-box {
  font-size: 1.8rem;
  line-height: 2rem;
  font-weight: 700;
  color: #6070ff;
  margin-left: 1rem; }

.header {
  width: 144rem;
  height: 91.6rem;
  background-color: #fff;
  z-index: 1; }
  .header__bg {
    position: absolute;
    top: 10%;
    left: 0;
    height: 100%;
    width: 100%; }
    .header__bg-content {
      height: 100%;
      width: 100%;
      object-fit: contain; }
  .header__flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .header__flex-container-logobox {
      margin-left: 1rem;
      font-size: 1.8rem;
      font-weight: 700;
      color: #6070ff; }
    .header__flex-container-menu ul {
      display: flex;
      list-style: none; }
      .header__flex-container-menu ul li {
        padding: 1rem;
        margin: 1rem; }
        .header__flex-container-menu ul li a {
          text-decoration: none;
          color: #344563;
          font-size: 1.5rem;
          font-weight: 400;
          line-height: 2rem; }
  .header__center {
    width: 50%;
    margin: 0 auto; }

.heading__primary {
  width: 50%;
  margin-top: 5rem;
  font-size: 4.8rem;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 0.37px; }
  .heading__primary-content {
    margin-top: 0; }
  .heading__primary--connect {
    text-decoration: none;
    text-transform: uppercase; }

.connect {
  margin-top: 2rem; }
