.header {
  width: 144rem;
  height: 91.6rem;
  background-color: $color-white;
  z-index: 1;
  &__bg {
    position: absolute;
    top: 10%;
    left: 0;
    height: 100%;
    width: 100%;

    &-content {
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
  }
  &__flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-logobox {
      margin-left: 1rem;
      font-size: 1.8rem;
      font-weight: 700;
      color: $color-text;
    }
    &-menu ul {
      display: flex;
      list-style: none;

      & li {
        padding: 1rem;
        margin: 1rem;

        & a {
          text-decoration: none;
          color: $menu-text-color;
          font-size: 1.5rem;
          font-weight: 400;
          line-height: 2rem;
        }
      }
    }
  }
  &__center {
    width: 50%;
    margin: 0 auto;
  }
}
.heading__primary {
  width: 50%;
  margin-top: 5rem;
  font-size: 4.8rem;
  font-weight: 700;
  font-family: 'Poppins';
  letter-spacing: 0.37px;
  &-content {
    margin-top: 0;
  }
  &--connect {
    text-decoration: none;
    text-transform: uppercase;
  }
}
.connect {
  margin-top: 2rem;
}
